<table class="table">
  <thead>
  <tr>
    <th class="text-center">UPC</th>
    <th>Stores</th>
    <th>Color</th>
    <th>size</th>
    <th>Description</th>
    <th class="">Qty</th>
    <th class="text-right">Item status</th>
    <th class="text-right">Box #</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-center">7819803043</td>
    <td>99.</td>
    <td></td>
    <td></td>
    <td>PERF ULT FR DR.BFF 3.53OZ</td>
    <td>SHP : 1</td>
    <td class="td-actions text-right">
      <select class="form-control form-control-sm">
        <option>Small select</option>
      </select>
    </td>
    <td class="td-actions text-right">
      <select class="form-control form-control-sm">
        <option>Small select</option>
      </select>
    </td>
  </tr>
  </tbody>
</table>
