<div class="custom-modal">
  <div class="custom-modal-content">
    <div class="alert alert-{{alertType}}" role="alert" *ngIf="showAlert">
      {{alertMessage}}
    </div>

    <div class="modal-header">
      <h5 class="modal-title">Number of boxes</h5>
    </div>
    <div class="modal-body form-group">
      <div class="input-group">
        <label>
          <input
            type="text"
            class="form-control-plaintext modal-input"
            [(ngModel)]="numberOfBoxes"
            placeholder="enter number of boxes"
            (keyup.enter)="setBoxes()"
            #myInput
          />
        </label>
        {{ myInput.focus() }}
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-normal"
        (click)="closeModal()">
        Close
      </button>
      <button
        type="button"
        class="btn btn-info"
        (click)="setBoxes()">
        Validate
      </button>
    </div>
  </div>
</div>

