<app-loading *ngIf="loading"></app-loading>
<div class="main">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
    <app-title
      title="Store details"
      description="Web order list"
    >
      <div class="row">
        <div class="col">
          <div class="form-group ">
            <label>Show entries</label>
            <select (change)="selectChangeHandler($event)"  class="form-control">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group mx-sm-6">
            <label>Search</label>
            <input
              type="text"
              (input)="getSearch($event)"
              class="form-control"
              placeholder="Search order">
          </div>
        </div>
      </div>
    </app-title>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="text-center">Order Date</th>
                <th>Age</th>
                <th>Order number</th>
                <th>Custom name</th>
                <th>Type</th>
                <th class="">Status</th>
                <th class="text-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of sortedOrders; index as i">
                <td class="text-center">{{order.orderSubmittedDate.time}}</td>
                <td>{{order.orderAge}}</td>
                <td>{{order.orderId}}/(p-{{order.orderNumber}})</td>
                <td>{{order.firstName}} {{order.lastName}}</td>
                <td>{{order.shippingMethod}}</td>
                <td>Assigned</td>
                <td class="td-actions text-right">
                  <button
                    type="button"
                    rel="tooltip"
                    [routerLink]="['/dashboard/order',store ,order.orderId]"
                    class="btn btn-primary">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button
                    type="button"
                    rel="tooltip"
                    [routerLink]="['/dashboard/print-order',store ,order.orderId]"
                    class="btn btn-warning">
                    <i class="fas fa-print"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <nav class="pagination-custom" *ngIf="showCounter">
            <ul class="pagination">
              <li
                (click)="changePage()"
                class="page-item"
                *ngFor="let item of orders | paginate: { itemsPerPage: selected, currentPage: p };
                  index as idx">
                {{item[idx]}}
              </li>
            </ul>
            <pagination-controls (click)="changePage()" (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

