
<app-printorderlabel
  [orderInfo]="orderInfo"
  [orderNumber]="orderNumber"
  [orderState]="orderState"
  [shippingGroup]="shippingGroup"
  [submittedTime]="submittedTime"
></app-printorderlabel>
<div class="main">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard/store', store]">Orders</a></li>
      <li class="breadcrumb-item active" aria-current="page">Print</li>
    </ol>
    <div id="print-pick-section">
      <div class="row">
        <div class="col-md-6">
          <h4>PPS Order</h4>
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <h6 class="category">Order Summary</h6>
              <ul>
                <li class="text-left">
                  <strong>Order status: </strong> {{orderState}}
                </li>
                <li class="text-left">
                  <strong>Order #:</strong> {{orderNumber}}
                </li>
                <li class="text-left">
                  <strong>Order date: </strong> {{submittedTime}}
                </li>
                <li class="text-left" *ngFor="let method of shippingGroup">
                  <strong>Shipping Method : </strong> {{method.shippingMethod}}
                </li>
                <li class="text-left">
                  <ngx-barcode [bc-value]="orderNumber" [bc-display-value]="true"></ngx-barcode>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Pick Slip</h4>
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul *ngFor="let info of shippingGroup">
                <li class="text-left">
                  <strong>Name: </strong>{{info.shippingAddress["firstName"]}} {{info.shippingAddress["lastName"]}}
                </li>
                <li class="text-left">
                  <strong>Address #:</strong> {{info.shippingAddress["address1"]}} {{info.shippingAddress["address2"]}}
                </li>
                <li class="text-left">
                  <strong>City State: </strong> {{info.shippingAddress.city}}
                </li>
                <li class="text-left">
                  <strong>Zip code: </strong> {{info.shippingAddress.postalCode}}
                </li>
                <li class="text-left">
                  <strong>Phone: </strong> {{info.shippingAddress["phoneNumber"]}}
                </li>
                <li class="text-left">
                  <strong>Email: </strong> {{info.shippingAddress["email"]}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">UPC</th>
            <th>Sku</th>
            <th>VPN</th>
            <th>Color</th>
            <th>Size</th>
            <th class="">Description</th>
            <th class="">Qty</th>
            <th class="">Box #</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commerceItem of commerceItems">
              <td class="text-center">{{commerceItem.upcs}}</td>
              <td>{{commerceItem.vpn}}</td>
              <td>{{commerceItem.vpn}}</td>
              <td></td>
              <td></td>
              <td>{{commerceItem.productDescription}}</td>
              <td>{{commerceItem.quantity}}</td>
              <td class="td-actions text-right">

              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
    <div class="col">
      <div class="row justify-content-end">
        <button
          type="button"
          class="btn btn-info"
          [useExistingCss]="true"
          printSectionId="print-pick-section"
          ngxPrint>
          <i class="fas fa-print"></i>
          Print
        </button>
        <button
          type="button"
          class="btn btn-danger"
          printSectionId="print-section"
          [useExistingCss]="true"
          ngxPrint>
          <i class="fas fa-print"></i>
          Print Shipping label
        </button>
      </div>
    </div>
  </div>
</div>

