<div
  class="modal fade bd-example-modal-sm"
  tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel"
  id="upcModal"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="alert alert-{{alertType}}" role="alert" *ngIf="showAlert">
        {{alertMessage}}
      </div>

      <div class="modal-header">
        <h5 class="modal-title">Validate Upc</h5>
      </div>
      <div class="modal-body form-group">
        <div class="input-group">
          <input
            type="text"
            name="UPC"
            class="form-control modal-input"
            [(ngModel)]="valueUPC"
            placeholder="Validate UPC"
          >
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal">
          close
        </button>
        <button
          type="button"
          class="btn btn-info"
          (click)="validateUPC()">
          Validate
        </button>
      </div>
    </div>
  </div>
</div>
