/* You can add global styles to this file, and also import other style files */

.login-input, .login-input::placeholder {
  color: #ffffff !important;
  font-size: 16px!important;
  font-weight: bold!important;
}

.login-icons{
  color: white!important;
  font-size: 18px!important;
}

a{
  cursor: pointer;
}
