<div class="main">
  <div class="container">
    <app-title title="Order details">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul>
                <li class="text-left">
                  <strong>Order status: </strong> <span class="badge badge-success">{{orderInfo.stateAsString}}</span>
                </li>
                <li class="text-left">
                  <strong>Order #:</strong> {{orderInfo.orderNumber}}
                </li>
                <li class="text-left">
                  <strong>Order date: </strong> {{orderInfo.submittedTime | date}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul *ngFor="let info of orderInfo.shippingGroups">
                <li class="text-left">
                  <strong>Name: </strong>{{info.shippingAddress.firstName}} {{info.shippingAddress.lastName}}
                </li>
                <li class="text-left">
                  <strong>Address #:</strong> {{info.shippingAddress.address1}} {{info.shippingAddress.address2}}
                </li>
                <li class="text-left">
                  <strong>City State: </strong> {{info.shippingAddress.city}}
                </li>
                <li class="text-left">
                  <strong>Zip code: </strong> {{info.shippingAddress.postalCode}}
                </li>
                <li class="text-left">
                  <strong>Phone: </strong> {{info.shippingAddress.phoneNumber}}
                </li>
                <li class="text-left">
                  <strong>Email: </strong> {{info.shippingAddress.email}}
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul>
                <li class="text-left" *ngFor="let info of orderInfo.shippingGroups">
                  <strong>Shipping Method : </strong> {{info.shippingMethod}}
                </li>
                <li class="text-left">
                  <form>
                    <div class="form-group mx-sm-6">
                      <strong>Number of boxes</strong>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search order">
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </app-title>
    <div class="column">

      <div class="table-responsive">
        <!--   <table class="table">
            <thead>
            <tr>
              <th class="text-center">UPC</th>
              <th>Stores</th>
              <th>Color</th>
              <th>size</th>
              <th>Description</th>
              <th class="">Qty</th>
              <th class="text-right">Item status</th>
              <th class="text-right">Box #</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">7819803043</td>
              <td>99.</td>
              <td></td>
              <td></td>
              <td>PERF ULT FR DR.BFF 3.53OZ</td>
              <td>SHP : 1</td>
              <td class="td-actions text-right">
                <select class="form-control form-control-sm">
                  <option>Small select</option>
                </select>
              </td>
              <td class="td-actions text-right">
                <select class="form-control form-control-sm">
                  <option>Small select</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>

      </div>
      <div class="row justify-content-end">
        <button type="button" class="btn btn-neutral">Print packaging Slip</button>
        <button type="button" class="btn btn-neutral">Print Shipping label</button>
        <button type="button" class="btn btn-primary">Ship items</button>
      </div>-->
    </div>
  </div>
</div>

