<div class="main">
  <div class="container">

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard/store', store]">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order Details</li>
      </ol>
    </nav>

    <app-upc-modal
      (closeModalEmmit)="showUPCModal = false"
      [showModal]="showUPCModal"
      [upc]="commerceItems[idCommerceItem]">
    </app-upc-modal>

    <app-printorderlabel
      [orderInfo]="orderInfo"
      [orderNumber]="orderNumber"
      [orderState]="orderState"
      [shippingGroup]="shippingGroup"
      [submittedTime]="submittedTime"
    ></app-printorderlabel>

    <app-title title="Order details">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul>
                <li class="text-left">
                  <strong>Order status: </strong> <span class="badge badge-success">{{orderState}}</span>
                </li>
                <li class="text-left">
                  <strong>Order #:</strong> {{orderNumber}}
                </li>
                <li class="text-left">
                  <strong>Order date: </strong> {{submittedTime}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul *ngFor="let info of shippingGroup">
                <li class="text-left">
                  <strong>Name: </strong>{{info.shippingAddress["firstName"]}} {{info.shippingAddress["lastName"]}}
                </li>
                <li class="text-left">
                  <strong>Address #:</strong> {{info.shippingAddress["address1"]}} {{info.shippingAddress["address2"]}}
                </li>
                <li class="text-left">
                  <strong>City State: </strong> {{info.shippingAddress.city}}
                </li>
                <li class="text-left">
                  <strong>Zip code: </strong> {{info.shippingAddress.postalCode}}
                </li>
                <li class="text-left">
                  <strong>Phone: </strong> {{info.shippingAddress["phoneNumber"]}}
                </li>
                <li class="text-left">
                  <strong>Email: </strong> {{info.shippingAddress["email"]}}
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <ul>
                <li class="text-left" *ngFor="let info of shippingGroup">
                  <strong>Shipping Method : </strong> {{info.shippingMethod}}
                </li>
                <li class="text-left">
                  <form>
                    <div class="form-group mx-sm-6">
                      <strong>Number of boxes</strong>
                      <input
                        (input)="getNumberOfBoxes($event)"
                        type="number"
                        class="form-control"
                        aria-describedby="emailHelp"
                        placeholder="Number of boxes"
                      >
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </app-title>

    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr >
            <th class="text-center">UPC</th>
            <th>Store</th>
            <th>Color</th>
            <th>size</th>
            <th>Description</th>
            <th class="">Qty</th>
            <th class="text-right">Item status</th>
            <th class="text-center">Box #</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let commerceItem of commerceItems; index as idx">
            <td class="text-center">{{commerceItem.upcs}}</td>
            <td>{{commerceItem.fulfillmentStore}}</td>
            <td>

            </td>
            <td></td>
            <td>{{commerceItem.productDescription}}</td>
            <td>SHP : {{commerceItem.quantity}}</td>
            <td class="td-actions text-right">
              <select
                [disabled]="orderState !== 'SENT_TO_STORE'"
                (click)="getItemStatus($event)"
                class="form-control form-control-sm">
                <option>Select your option</option>
                <option
                  data-toggle="modal"
                  data-target="#upcModal"
                  [value]="idx"
                >
                  Shipped
                </option>
                <option value="2">No stock</option>
              </select>
            </td>
            <td class="td-actions text-right content-number-boxes">
              <select
                [disabled]="orderState !== 'SENT_TO_STORE'"
                class="form-control form-control-sm"
                *ngFor="let boxSelect of boxesSelect; index as idx"
              >
                <option *ngIf="boxes.length===0">
                  Select box
                </option>
                <option *ngFor="let box of boxes; index as idx">
                  {{idx+1}}
                </option>
              </select>
              <button
                type="button"
                data-toggle="modal"
                data-target="#exampleModal"
                class="add-box-button">
                <i class="fas fa-plus"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-end">
        <button
          type="button"
          [routerLink]="['/dashboard/print-order',store ,orderId]"
          class="btn btn-warning">
          <i class="fas fa-print"></i>
          Print packaging Slip
        </button>
        <button
          type="button"
          class="btn btn-danger"
          printSectionId="print-section"
          [useExistingCss]="true"
          ngxPrint>
          <i class="fas fa-print"></i>
          Print Shipping label
        </button>
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-info">
          <i class="fas fa-dolly-flatbed"></i>
          Ship items
        </button>
      </div>
    </div>
  </div>
</div>

